<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.cadastronotafrequencia">

    <application
            android:name="com.orm.SugarApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.CadastroNotaFrequencia">
        <activity
                android:name=".CadastroProfessorActivity"
                android:exported="true"
                android:label="@string/menu_cadastro_professor"

        />
        <activity
                android:name=".CadastroAlunoActivity"
                android:exported="true"
                android:label="@string/menu_cadastra_aluno"
        />
        <activity
                android:name=".CadastroDisciplinaActivity"
                android:exported="true"
                android:label="@string/menu_cadatro_disciplina"
        />
        <activity
                android:name=".CadastroTurmaActivity"
                android:exported="true"
                android:label="@string/menu_cadatro_turma"
        />
        <activity
                android:name=".CadastroNotasActivity"
                android:exported="true"
                android:label="@string/menu_cadastro_notas"
        />
        <activity
                android:name=".CadastroFrequenciaActivity"
                android:exported="true"
                android:label="@string/menu_cadatro_frequencia"
        />

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.CadastroNotaFrequencia.NoActionBar"
                >
            <meta-data
                    android:name="DATABASE"
                    android:value="cadastro_nota.db"/>
            <meta-data
                    android:name="VERSION"
                    android:value="1"/>
            <meta-data
                    android:name="QUERY_LOG"
                    android:value="true"/>
            <meta-data
                    android:name="DOMAIN_PACKAGE_NAME"
                    android:value="com.example.cadastronotafrequencia.model"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>